/* Global Color Configurations */
:root {
    --pure-white: #ffffff; /* White color for text */
    --pastel-shade: #F0E8D0;
    --pastel-shade-1: #eee1ba;
    --pastel-shade-2: #eee1ba;
    --choco-color-mild: #c37960;
    --choco-color-medium: #9c634f;
    --choco-color-dark: #894e3f;

    font-family: Gelion, Helvetica, "Helvetica Neue", Poppins, Roboto, Oxygen, Ubuntu;
}
