/* NavBar */

.navBar{
  background-color: var(--pastel-shade-2);
}

.navLink{
  text-decoration: none;
  color: var(--choco-color-dark) !important;
}

/* Home */

.heroContainer{
  width: 100%;
  position: relative;/* Ensure relative positioning for the container */
}

.heroBanner {
  background-color: transparent; /* No background color for the jumbotron */
  padding: 0; /* Remove any padding to maximize the image */
}

.heroImage {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)),url('/home/hero-banner.png');
  background-position: center center;
  background-size: cover;
  overflow: hidden; /* Ensure the gradient covers the entire image */
  display: flex; /* Use Flexbox to center content */
  align-items: center;
}

.heroText{
  margin-left: 5%;
  color: var(--pure-white);
}

.customButtonPrimary{
  background-color: var(--pastel-shade-2) !important;
  color: var(--choco-color-dark) !important;
  font-weight: 600 !important;
  border: 2px var(--choco-color-dark) !important;
}

.customButtonSecondary{
  background-color: var(--pure-white) !important;
  border: 2px var(--choco-color-dark) !important;
  color: var(--choco-color-dark) !important;
  font-weight: 600 !important;
  border: 2px var(--choco-color-dark) !important;
}

.customButtonSecondary:hover{
  background-color: var(--choco-color-dark) !important;
  color: var(--pastel-shade) !important;
  font-weight: 600 !important;
  border: 2px var(--choco-color-dark) !important;
}


.horizontalLine{
  height: 3px !important;
  border-width: 3px !important;
  opacity: 1;
}

.subText{
  font-size: 1.5rem;
  display: absolute;
  bottom: 0;
}

.mainText{
  font-size: 3rem;
}

.subText, .mainText, .horizontalLine{
  color: var(--choco-color-dark);
}

.customKitchenCard, .customSeasonCard{
  background-color: var(--pastel-shade-1) !important;
}

.kitchenCardLabel{
  color: var(--choco-color-dark);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}

.seasonDishName{
  font-size: 1rem;
  color: var(--choco-color-dark) !important;
  font-weight: 700;

}

.seasonDishDescription{
  color: var(--choco-color-medium);
  font-size: 0.9rem;
}

/* .aboutSection{
  background-color: var(--pastel-shade-2);
} */

.aboutInteriorImage{
  position: relative;
  height: auto;
  min-height: 300px;
  background-image: url('/home/bakeryInterior.png');
  background-position: center center;
  background-size: cover;
  overflow: hidden; /* Ensure the gradient covers the entire image */
}

.aboutBakeryCard{
  background-color: var(--pastel-shade) !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.aboutBakeryDescription{
  color: var(--choco-color-dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: justify;
}

.aboutOwnerImage{
  position: relative;
  height: auto;
  min-height: 300px;
  background-image: url('/home/owner.png');
  background-position: top;
  background-size: cover;
  overflow: hidden; /* Ensure the gradient covers the entire image */
}

.footer{
  background-color: var(--choco-color-dark);
  color: var(--pastel-shade) !important;
}

.socialIcons a{
  font-size: 1.5rem;
  color: var(--pastel-shade) !important;
}

.menuContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
}

/* Ensure the row expands to fill the available space */
.menuRow {
  flex: 1;
}

.ourMenuText{
  color: var(--choco-color-dark);
  font-size: 2rem;
  font-weight:700;
  text-align: center;
}

.categoryName{
  font-size: 1rem;
  color: var(--choco-color-dark);
}

.vegIcon {
  color: green;
  margin-right: 5px;
}

.nonVegIcon {
  color: red;
  margin-right: 5px;
}

.dot{
  background-color: var(--choco-color-dark);
  height: 5px;
  width: 5px;
  display: inline-block;
  border-radius: 30px;
  vertical-align: middle;
}

.itemPrice{
  font-size: 1.2rem;
  color: var(--choco-color-dark);
  font-weight: 600;
}

.itemDescription{
  font-size: 0.8rem;

}